---
import { Post } from '../lib/interfaces.ts'
import { filePath } from '../lib/blog-helpers'
import { getPostLink } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
}

const { post } = Astro.props

let image = ''
if (post.FeaturedImage && post.FeaturedImage.Url) {
  const imageUrl = post.FeaturedImage.Url;
  if (import.meta.env.DEV) {
    image = post.FeaturedImage.Url
  } else {
    image = filePath(new URL(imageUrl))
  }
}



---

{
  image && (
    <div class="post-featured-image">
      <a href={getPostLink(post.Slug)}><img src={image} alt="post-featured-image" /></a>
    </div>
  )
}

<style>
  .post-featured-image {
    padding: 0.6rem 0 0.2rem;
  }
  .post-featured-image img {
    display: block;
    width: 350px;
    height: 350px;
    object-fit:contain ;
    border: solid 0.5px;
    border-radius: 10px;
    background-color: #f6f6f661;
    position:relative;
    top:0;
    left: 0;
    transition: all .3s;
  }
  .post-featured-image img:hover {
    top:-6px;
    left: -6px;
    box-shadow: 6px 6px black;
  }
</style>
